<article
  class="mx-auto min-w-0 max-w-6xl px-6 pt-4 md:px-12 markdown prose w-full break-words dark:prose-invert light"
>
  <h1
    class="mt-3 text-4xl tracking-tight text-slate-900 dark:text-slate-100 date-font"
  >
    Support
  </h1>
  <strong>Support Dattebayo API</strong>
  <div
    class="min-h-[20px] flex flex-col items-start gap-3 overflow-x-auto whitespace-pre-wrap break-words"
  >
    <h2>Your Support Matters</h2>
    <p>
      Hello fellow Naruto enthusiasts and developers! The Dattebayo API is a
      labor of love, crafted to bring the magic of the Naruto universe to your
      fingertips. It's currently deployed on a free plan on
      <a href="https://render.com" target="_new">Render</a> due to financial
      constraints, but with your support, we can take it to new heights!
    </p>
    <h2>Ways to Support</h2>
    <h3>1. <strong>Share Your Ideas</strong></h3>
    <p>
      We're always eager to hear your thoughts and ideas for making Dattebayo
      API even better. Whether it's a new feature, a UI enhancement, or a fresh
      collection to add, your ideas can shape the future of this API. Share your
      suggestions on our
      <a href="https://github.com/viniciusschuelter/dattebayo" target="_new"
        >GitHub Front</a
      >/
      <a href="https://github.com/viniciusschuelter/dattebayo-api" target="_new"
        >API</a
      >
      or connect with us on
      <a href="https://discord.gg/mp6ftSyE/" target="_new">Discord</a>
      to discuss your ideas.
    </p>
    <h3>2. <strong>Contribute with Pull Requests</strong></h3>
    <p>
      If you're a developer, you can directly contribute to the growth of
      Dattebayo API by submitting pull requests on our
      <a href="https://github.com/viniciusschuelter/dattebayo" target="_new"
        >GitHub Front</a
      >/
      <a href="https://github.com/viniciusschuelter/dattebayo-api" target="_new"
        >API</a
      >
      . Whether it's fixing a bug, improving documentation, or adding new
      features, your expertise can make a significant impact on the community's
      experience.
    </p>
    <h3>3. <strong>Financial Support</strong></h3>
    <p>
      While the API is currently on a free plan due to financial reasons, your
      financial support can help us expand its capabilities and ensure its
      availability for the long term. Even a small contribution can go a long
      way in covering operational costs and future enhancements.
    </p>
    <ul>
      <li>
        <strong
          ><a href="https://patreon.com/user?u=100138694" target="_new"
            >Support on Patreon</a
          ></strong
        >: Join our Patreon community and access exclusive content while
        supporting the API's growth.
      </li>
    </ul>
    <h2>Connect with the Creator</h2>
    <p>
      Hey there, I'm Vinicius Schuelter, the creator and maintainer of Dattebayo
      API. My goal is to bring the world of Naruto closer to fans and developers
      alike. Feel free to follow my journey on
      <a href="https://github.com/viniciusschuelter" target="_new">GitHub</a>
      and connect with me on
      <a href="https://www.linkedin.com/in/vinicius-schuelter/" target="_new"
        >LinkedIn</a
      >. Your feedback, ideas, and support mean the world to me.
    </p>
    <a
      class="self-center"
      href="https://www.buymeacoffee.com/viniciusschuelter"
      target="_blank"
      ><img
        src="https://cdn.buymeacoffee.com/buttons/v2/default-red.png"
        alt="Buy Me A Coffee"
        style="height: 60px !important; width: 217px !important"
    /></a>
    <p>
      Thank you for being a part of the Dattebayo API community. Together, we
      can make the Naruto experience even more unforgettable!
    </p>
  </div>
</article>
